/* h1 {
    color: rgb(0, 0, 128);
    position: absolute;
    top: 6%;
    right: 50%;
    text-shadow: rgb(0, 0, 0) 1px 0 3px;
    font-family: fantasy;
}

.btn {
    position: absolute;
    right: 48.5%;
}

button {
    color: rgb(0, 0, 128);
    text-shadow: rgb(2, 2, 2) 1px 0 1px;
    background-color: rgb(169, 168, 167);
    font-family: fantasy;

}

 */
